:root{
    --main-bg-img: url("https://kaboompics.com/cache/7/1/d/4/9/71d495b027be862bfa29d524b5720f3681e00e68.jpeg");
}
 
body, html {
  height: 100vh;
  margin: 0;
  padding: 0;
}
 
 
body {
   display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--main-bg-img);
  background-size: cover;
  background-position: center;
  font-family: 'Rajdhani', sans-serif;
}
 
*, *:before, *:after {
  box-sizing: border-box;
}
 
.glass {
  height: 100%;
  width: 100%;
  background-image: var(--main-bg-img);
  background-size: cover;
  background-position: center;
  clip-path: inset(10em);
  filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.drop-shadow {
  height: 100%;
  width: 100%;
  filter:  drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.50));
  display: flex;
  justify-content: center;
  align-items: center;
}
   
.drop-shadow > span {
    position: absolute;
    z-index:2;
    color: white;
    font-size: 4em;
    letter-spacing: 0.75em;
    padding-left: 0.5em;
  }
